body
{
    background: url("../imgs/bg.jpg")
                no-repeat fixed;
    background-size: cover; /*to make image with full size*/
    font-family: Arial, Tahoma;
}
.header, .footer
{
    background-color: rgba(15, 153, 163, 0.3);
    text-align: center; /*to make text at the center*/
    font-size: 25px;
    padding: 20px;
    margin: 10px;
}
#wbst-name
{
    color: blue;
    text-transform: uppercase;
}
div a
{
    text-decoration: none; /*to remove the line under the link*/
}
div a:hover
{
    text-decoration: underline; /*to make an underline when the mouse hover*/
}
.body
{
    text-align: center; /*to make any text in class body centered*/
}

table
{
    border: 1px solid blue;
    width: 600px;
    text-align: left;
    margin: auto; /* to make the table centered at the page*/
}

tbody td
{
    border: 1px solid blue; /* to make a border to the table body*/
}

thead th
{
    border: 1px solid blue;
    text-align: center;
}
thead{
    background-color: rgba(138, 42, 200, 0.15); 
    /*give a background color to the table head*/
}
tbody
{
    background-color: rgba(90, 206, 75, 0.15);
    /*give a background color to the table body*/
}
tfoot
{
    background-color: rgba(135, 206, 235, 0.3);
    /*give a background color to the table foot*/
}

tfoot input{
    background-image: url("../imgs/btn.jpg");
    /*background picture to the image*/
    background-size: cover;
    /* need to be clearfied??!!*/
    width: 100px;
    height: 30px;
}

ol li
{
    display: inline-block;
    color: blue;
}